<template name="postCommentNew">
  <form id="formPostCommentNew">
	  <textarea class="form-control comment-block" name="msg"></textarea>
    <div class="btn-toolbar">
      <div class="btn-group pull-right">
        <button type="submit" class="btn btn-sm btn-primary">{{_ 'command_register'}}</button>
      </div>
    </div>
  </form>
</template>

<template name="postCommentsList">
  <div id="commentWrap">
    <div class="panel-heading">
      <h4>{{_ 'title_comments'}} <small>({{postCommentsCount}})</small></h4>
    </div>

    <div>
      {{> postCommentNew}}

      {{#if loaded}}
        {{#if hasMore}}
          <div class="row-fluid">
            <a class="btn btn-block btn-deep-app load-more">Load More</a>
          </div>
        {{/if}}
      {{else}}
        {{> listLoading}}
      {{/if}}

      <ul class="media-list">
        {{#each postComments}}
          {{> postCommentsListItem}}
        {{/each}}
      </ul>
    </div>
  </div>
</template>

<template name="postCommentsListItem">
  <li class="media">
    <div class="media-left">
      <a href="#" class="avatar-sm">
	      {{{getPicture user}}}
      </a>
    </div>
    <div class="media-body">
	    <span class="author">
        <a href="{{pathFor 'accountView' _id=user._id}}">{{userDisplayName user}}</a>
      </span>
	    <span class="date"><small>{{momentFromNow createdAt}}</small></span>
	    <p>{{msg}}</p>
    </div>
  </li>
</template>