<template name="profilePicture">
  <!-- Cropping modal -->
  <div id="avatarModal" class="modal fade" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="avatarModalLabel">{{_ 'title_profile_edit_picture'}}</h4>
        </div>
        <div class="modal-body">
          <!-- Cropped image view -->
          <div class="row">
            <div class="col-md-12">
              <div class="avatar-wrapper avatar-lm"></div>
            </div>
          </div>
          {{> profilePictureToolbar}}
        </div><!-- /.modal-body end-->
        <div class="modal-footer">
          <button id="cancelBtn" type="button" class="btn btn-default" data-dismiss="modal">취소</button>
          <button id="saveBtn" type="button" class="btn btn-primary">저장</button>
        </div><!-- /.modal-footer -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
	{{> cloudinaryProgressBar}}
</template>

<template name="profilePictureToolbar">
  <!-- Buttons group for profile image editing -->
  <div class="row">
    <div class="col-md-12">
      <div class="avatar-btn-wrapper">
        <div class="btn-group">
	        <form>
          {{> cloudinaryUploader}}
          </form>
        </div>
        <!--<div class="btn-group">-->
          <!--<button id="rotateLeft" class="btn btn-default">왼쪽</button>-->
          <!--<button id="rotateRight" class="btn btn-default">오른쪽</button>-->
        <!--</div>-->
      </div>
    </div>
  </div><!-- / Buttons group end -->
</template>