<template name="postEdit">
  <article class="page">
    <header>
      <h3>{{category.title}} <small>{{_ 'label_edit_post'}}</small></h3>
    </header>

    <div class="body">
      <form id="formPostEdit">
        <div class="panel panel-default">
          <div class="panel-body block-wrapper">
            <h3>
              <input id="title" class="form-control" name="title" value="{{title}}">
            </h3>
            <article id="articleWrap">
              <section id="contentWrapper">
                {{> postTextarea content=content}}
              </section>
            </article>
          </div>
          <div class="panel-footer clearfix">
            <div class="btn-toolbar pull-right">
              <div class="btn-group">
                <button type="submit" class="btn btn-primary">{{_ 'command_publish'}}</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </article>
</template>