<template name="asideLeftClassic">
  <aside class="left">
    <header>
      <button class="btn btn-link btn-xs aside-pin {{active}}"
              data-toggle="button" aria-pressed="false" autocomplete="off">
        <i class="fa fa-thumb-tack"></i>
      </button>
    </header>

    <div class="body">
      <div id="nav-main">
        {{> accountInfo}}

        {{> treeMenu}}
      </div>
    </div>
  </aside>
</template>

<template name="asideRightClassic">
  <aside class="right">
    {{> notificationsList}}
  </aside>
</template>
