<template name="postWrite">
  <article class="page">
    <header>
      <div class="clearfix">
        <h3>{{category.title}} <small>{{_ 'label_new_post'}}</small></h3>
      </div>
    </header>

    <div class="body">
      <form id="formPostWrite">
        <section>
          <div class="pull-left">
            <h3><small>{{postStatus}}</small></h3>
          </div>
          <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> {{_ 'command_publish'}}</button>
        </section>

        <section>
          <div class="panel-body block-wrapper">
            <h3><input {{titleAttrs}} value="{{draft.title}}"></h3>

            <article id="articleWrap">
              <section id="contentWrapper">
                {{#if draft}}
                  {{> postTextarea content=draft.content.data}}
                {{else}}
                  {{> postTextarea}}
                {{/if}}
              </section>
            </article>
          </div>
        </section>
      </form>
    </div>
  </article>
  {{> cloudinaryProgressBar}}
</template>
<!--<div id="ie-clipboard-contenteditable" class="hidden" contenteditable="true"></div>-->
<!--<input id="hidden-input" class="hidden" type="text" value="" />-->